@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&display=swap');

body {
  margin: 0;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  
}

/* CSS */
.colorp
{
  color: #679ef1;
}
.nav-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: black;
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin: 0;
  
}

.nav-bar ul{
  list-style: none;
  display: flex;
  gap: 3rem;
  padding: 0;
  
}
.nav-bar li{
  text-decoration: none;
}
.nav-bar a
{ 
  text-decoration: none;
  list-style: none;
  color: rgb(255, 255, 255);
}
.nav-bar h1{
 margin: 0;
}

.homepage-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  min-height: 90vh;
  width: 100%;
  border: px solid red;
  background-color: #e5e5f7;
  
  opacity: 1;
  background-image: radial-gradient(#444cf7 0.7px, #e5e5f7 0.8px);
  background-size: 18px 18px;
  
 
}

.profileimage
{
  height: 600px;
  width: auto;
  position: absolute;
  z-index: 1;

  
}
.profileimage0
{
  height: 600px;
  width: auto;
  position: relative;
  z-index: 1;
}

.homepage-imagen
{
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.homepage-text
{ 
  position: relative;
  top: 65px;
  left: 0px;
  z-index: 1;
  height: auto;
  width: 100%;
  
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: px solid black;
  
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  z-index: 0;
  
}
.homepage-text-footer
{
  position: relative;
  top: -100px;
  left: 0px;
  z-index: 1;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: px solid black;
  
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  z-index: 1;
  
}
.homepage-text-footer h1{
  font-size: 100px;
  
  margin: 0;
 
}
.homepage-text h1{
  font-size: 100px;
  
  margin: 0;
 
}
.homepage-text h2{
  margin-top: 0px;
}

.hireme-button
{
  display: flex;
  width: 100px;
  height: auto;
  text-align: left;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  border: none;
  border-bottom: 2px solid black;

  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  transition: 0.2s ease;
  gap: 10px;
}
.arrow-image
{
  height: 20px;
  width: auto;
}
.hireme-button:hover
{
  border-bottom: 3px solid black;
}
.homepage-contenido
{
  position: relative;
  display: flex;
  height: 600px;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: px solid black;
}


@media (max-width: 940px)
{
  .homepage-text-footer h1
  {
    
    font-size: 80px; 
  }
}
@media (max-width: 750px) {
  .homepage-text h1
  {
    
    font-size: 55px;
    
  }
  .homepage-text{
    top: 48px;
  }
  .homepage-text-footer h1
  {
    
    font-size: 40px; 
  }
  .homepage-text-footer{
    top: -80px;
  }
  
}

@media (max-width: 420px)
{ .profileimage0
  {
    height: 500px;
  }
  .homepage-text-footer h1
  {
    
    font-size: 36px; 
  }
  .homepage-text
  {
    top: 90px;
  }
  .homepage-text h1{
    font-size: 50px;
  }
  .homepage-text-footer{
    top: -110px;
  }
}


.homepage-footer-div
{
  border-top: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95px;
  background-color: #679ef1;
 
  
    --s: 16px; /* control the size*/
    --c1: #679ef1;
    --c2: #77a3e6;
    --c3: #2c2e2a;
    
    --p:at 45% 40%,#0000 75%,;
    --g1:conic-gradient(var(--p) var(--c1) 0);
    --g2:conic-gradient(var(--p) var(--c2) 0);
    background:
      var(--g1),var(--g2) calc(2*var(--s)) 0,
      var(--g2) calc(3*var(--s)) var(--s),
      var(--g1) var(--s) var(--s) var(--c3);
    background-size: calc(4*var(--s)) calc(2*var(--s));

  
   
}

.bounce{
  animation: bounce 2s ease-in-out infinite;
  display: inline-block;
  position: relative;
  
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(-10px);
  }
}

/*about css */

.aboutpage-div
{  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: white;
  width: 100%;
  height: 110vh;
  margin-bottom: 150px;
  margin-top: 150px;
  
}
.aboutpage-contenido
{
  position: relative;
  border: px solid red;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: auto;
  
}
.aboutcontent-fix-div
{
  border: px solid blue;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-content-card
{
  display: flex;
  position: relative;
  top: 0px;
  left: 200px;
  background-color: #252525;
  background-color: white;
  color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-direction: column;
  max-width: 400px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 20px;
  font-family: "Cal Sans", sans-serif;
    box-shadow: 0px 1px 14px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 1px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 14px 0px rgba(0,0,0,0.75);
  z-index: 1;
  
  
}

.about-content-card:hover
{ transform: scale(1.018);
  box-shadow: 0px 2px 17px 0px rgba(1, 225, 255, 0.75);
  -webkit-box-shadow: 0px 2px 17px 0px rgba(9, 239, 255, 0.75);
  -moz-box-shadow: 0px 2px 17px 0px rgba(1, 225, 255, 0.75);
}


.aboutpage-image-div{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 240px;
  left: -200px;
  width: 100%;
  height: auto;
  border: px solid red;
}

.aboutpage-title
{
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
}

.about-card-title
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: px solid red;
  width: 100%;
  padding: 5px;
}

.about-card-title h1,h2,h5{
  margin: 0px;
}
.about-card-title h5{
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-size: 16px;
}
@media (max-width: 870px) {
  .about-content-card
  {
    top: 0px;
    left: 0px;
    width: 85%;
    
  }
  .aboutpage-image-div
  {
    top: 0px;
    left: 0px;
    
  }
  .profileimage
  {
    height: 500px;
  }
  
}




/*titlecss*/

.title-div
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  width: 100%;
  background-color: white;
  
}

.title-line
{
  border-bottom: 2px solid black;
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  
 
}
.title-line h1{
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 100px;
  font-family: "Cal Sans", sans-serif;
}
@media (max-width: 600px) {
  .title-line h1{
    font-size: 70px;
  }
}
/*skills css */
.skills-content-div
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 40px;
  height: auto;
  width: 50%;
  border: px solid rebeccapurple;
  
  gap: 15px;
}
@media(max-width: 750px)
{
  .skills-content-div
  {
    width: 100%;
    gap: 5px;
    justify-content: center;
  }
}


.skills-card{
  display: flex;
  height: 40px;
  width: auto;
  justify-content: center;
  align-items: center;
  border: 1px solid #8f8f8f;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  background-color: #ee812700;
  padding: 5px 10px;
  gap: 8px;
  transition: 0.2s ease-in;

}
.tech-images
{ 
  width: 35px;
  height:auto;
}

@media(max-width: 430px)
{
  .skills-card
  {
    width: 140px;
  }
  .tech-images
  {
    height: 25px;
    width: 25px;
  }
}
.skills-card:hover{
  background-color: #e5e5f70e;
}
.skills-card h4{
  margin: 0px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
}


.skills-description
{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  border: px solid rebeccapurple;
  font-family: 'Courier New', Courier, monospace;
  
  width: 50%;
  height: auto;

}
@media(max-width: 750px)
{
  .skills-description
  {
    width: 95%;
  }
}


.skillspage-div
{
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  border: px solid rgb(0, 0, 0);
 border-top-right-radius: 60px;
 border-top-left-radius: 60px;
 margin-top: 80px;
}

@media(max-width: 750px)
{
  .skillspage-div
  {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
}
.tech-skills-container
{
  border: px solid red;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  margin-top: 200px;
  margin-bottom: 200px;
  
}
.tech-skills-card
{
  border: 2px solid #679ef1;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 300px;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0px 2px 17px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 2px 17px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 17px 0px rgba(0,0,0,0.75);
  margin: 15px;
  transition: 0.5s ease;
}
.tech-skills-card:hover
{
  transform: scale(1.05); 
  box-shadow: 0px 2px 17px 0px rgba(1, 225, 255, 0.75);
  -webkit-box-shadow: 0px 2px 17px 0px rgba(9, 239, 255, 0.75);
  -moz-box-shadow: 0px 2px 17px 0px rgba(1, 225, 255, 0.75);
}
.tech-logo-div
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 120px;
  border: px solid red;
}

.tech-skills-title
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50px;
  border-bottom: 1px solid white;
  color: #e5e5f7;
  font-family: "Cal Sans", sans-serif;
  
}
.tech-skills-title h2{
  font-weight: 400;
  
}
.skills-title p{
  font-family: 'Courier New', Courier, monospace;
}

.tech-skills-description
{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border: px solid red;
  text-align: left;
  color: white;
  min-height: 250px;
  width: 100%;
  
}


.tech-skills-description p{
  margin-top: 80px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.skills-title
{
  display: flex;
  align-items: center;
  justify-content: center;
  border: px solid red;
  height: auto;
  width: 100%;
  margin-bottom: 10px;
  color: white;
  font-family: "Cal Sans", sans-serif;
  
}
.skills-title h2{
  font-weight: 400;
}

/* Projects css */

.projects-div
{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: #ffffff;
  border: px solid rgb(29, 228, 46);
  margin-top: 100px;
  margin-bottom: 100px;
}
.projects-content
{
  position: relative;
  border: px solid rgb(228, 29, 185);
  width: 100%;
}
.projects-logo
{
 position: relative;
 display: flex;
 justify-content: center;
 top: 0px;
 left: 0px;
 border: px solid rgb(228, 29, 29);
}
.projects-container-card
{
  position: relative;
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  top: 0px;
  left: 0px;
  z-index: 1;
  border: px solid rgb(41, 110, 93);
}
.projects-card
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 900px;
  border-radius: 12px;
  background-color: #585858;
  border: px solid rebeccapurple;
  margin: 10px;
  position: relative;
  transition: 0.9s ease;
  overflow: hidden;
  box-shadow: 0px 12px 18px -4px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 12px 18px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 12px 18px -4px rgba(0,0,0,0.75);
  
}.projects-card:hover img
{
  transform: scale(1.4); 
}

.project-image
{
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-radius: 12px;
  
  object-fit: cover;
  transition: 0.5s ease;
  filter: blur(0px);
  border: px solid rgb(255, 0, 179);
  
}
.project-image:hover {
  
  filter: blur(0px);
}
.projects-text
{
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  align-items: center;
  flex-direction: column;
  margin: 0;
  font-family: "Cal Sans", sans-serif;
  border: px solid red;
  margin-bottom: 40px;

}
.projects-text h1{
  margin: 0;
  font-size: 40px;

}

.projects-text-description
{
  display: flex;
  justify-content: center;
  align-items: center;
  border: px solid red;
  
  height: auto;
  width: 50%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}
@media(max-width: 750px)
{
  .projects-text-description
  {
    width: 95%;
  }
}
.code-button
{ 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100px;
  font-weight: bold;
  border: 2px solid #000000;
  border-radius: 5px;
  color: white;
  background-color: #000000;
  gap: 5px;
  cursor: pointer;
  transition: 0.4s ease;
  margin: 10px;
}

.code-button:hover{
  width: 105px;
  height: 32px;
}

.projects-skills-container
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border: px solid rgb(0, 0, 0);
  width: 100%;
  height: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.projects-skills-card
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100px;
  background-color: rgba(59, 131, 246, 0.904);
  border-radius: 5px;
  color: #ffffff;
  font-weight: bold;
  margin: 10px;
  
}

.projects-text-buttons
{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.live-button
{ 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100px;
  font-weight: bold;
  border: 2px solid #000000;
  border-radius: 5px;
  color: white;
  background-color: #000000;
  gap: 5px;
  cursor: pointer;
  transition: 0.4s ease;
  margin: 10px;
}
.live-button:hover
{
  width: 105px;
  height: 32px;
  
}
a {
  text-decoration: none;
  color: inherit;
}

.profileimage1
{
  height: 600px;
  position: absolute;
  z-index: 1;
}
@media(max-width: 420px)
{
  .profileimage1
  {
    height: 500px;
  }
}
/* css for responsive projects sections */
@media (max-width: 900px) {
  .projects-card
  {
    width: 95%;
    
  }
  .project-image
  {
    width: 150%;
    height: auto;
    overflow: hidden;
    
  }
  .projects-card:hover img
  {
    transform: scale(1.4); 
  }
  .projects-text
  {
    
    
  }
  
}
@media (max-width: 600px) {
  
  .project-image
  {
    width: 200%;
    height: auto;
    
  }
  .projects-card:hover img
  {
    transform: scale(1.4); 
  }
 .projects-text-title h1
 {
  font-size: 25px;
 }
}

@media (max-width: 600px) {

  .projects-card
  {
    height: 300px;
  }
}